body {
  margin: 0;
  background-image: url('./assets/images/wood_floor.jpg');
  background-position: center;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  width: 800px;

  .main {
    display: flex;
    width: 750px;
  }
}
