body {
  margin: 0;
  background-image: url('./assets/images/wood_floor.jpg');
  background-position: center;
  width: 100%;
}

#root {
  display: flex;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  margin: 0 auto;

  .main {
    display: flex;
    width: 700px;
  }
}
