ul.piano-roll {
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding-top: 1.5em;
  margin-top: 16px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;

  .lane-wrapper {
    position: relative;

    .beat-wrapper {
      position: absolute;
      top: 0;
      left: 0;

      .beat {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 3px;

        &.pitch {
          // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.38) inset, -1px 1px 0px 1px rgba(255, 255, 255, 0.38) inset;
          // box-shadow: 0.5px -0.5px 0px 0.5px rgba(0, 0, 0, 0.38) inset, -0.5px 0.5px 0px 0.5px rgba(255, 255, 255, 0.38) inset;
          // box-shadow: 0.5px -0.5px 0px 0.5px rgba(0, 0, 0, 0.38) inset, -0.5px 0.5px 0px 0.5px rgba(255, 255, 255, 0.38) inset;
          border-top: 0.5px solid rgba(255, 255, 255, 0.38);
          border-bottom: .5px solid rgba(0, 0, 0, 0.38);
          border-left: .5px solid rgba(0, 0, 0, 0.38);
          border-right: .5px solid rgba(255, 255, 255, 0.38);

          &.active {
            background: rgb(197, 202, 233);
            box-shadow: -14px 20px 6px 0 rgba(0, 0, 0, 0.55);
          }

          &.start {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          &.middle {
            border-left:  none;
            border-right: none;
            border-radius: 0;
          }

          &.end {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          &:hover {
            background: rgb(197, 202, 233);
            // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.38) inset, -1px 1px 0px 1px rgba(255, 255, 255, 0.38) inset;
            // box-shadow: 0.5px -0.5px 0px 0.5px rgba(0, 0, 0, 0.38) inset, -0.5px 0.5px 0px 0.5px rgba(255, 255, 255, 0.38) inset;
            // , -14px 20px 7px 0px rgba(0, 0, 0, 0.71);
          }
        }

        &:nth-of-type(4n+1) {
          margin-left: 0;
        }

      }
    }
  }

  li {
    height: 1em;
    width: 100%;

    &.lane {
      // box-shadow: 0px -2px 3px 0.5px rgba(255, 255, 255, 0.18) inset, 0px 2px 3px 1px rgba(0, 0, 0, 0.8) inset, -14px 20px 7px 0px rgba(0, 0, 0, 0.1);;
      // inverted
      // box-shadow: 0 -1px 0.5px rgba(0, 0, 0, 0.38) inset, 0px 1px 0.5px 0px rgba(255, 255, 255, 0.38) inset, -14px 20px 7px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
