.player {
  margin-bottom: 16px;
  margin-left: 16px;

  button {
    border-radius: 100px;
    box-shadow: inset -2px 2px 6px 0 rgba(255, 255, 255, 0.68), inset 1px -1px 6px 0 rgba(0, 0, 0, 0.68), -14px 20px 6px 0 rgba(0, 0, 0, 0.68);
    padding: 2px 16px;
    margin: 0 8px;
    color: white;
    font-family: sans-serif;

    &:active {
      box-shadow: inset -2px 2px 6px 0 rgba(255, 255, 255, 0.68), inset 1px -1px 6px 0 rgba(0, 0, 0, 0.68), inset -5px 6px 6px 0 rgba(0, 0, 0, 0.68), -12px 18px 5px 0 rgba(0, 0, 0, 0.68);
    }
  }
}
